<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="login/login.css">
</head>
<body>
<h1>校园饮水管理系统</h1>

<form id="loginForm" class="login">
    <input type="text" placeholder="用户名" id="user" name="user" required>
    <input type="password" placeholder="密码" id="password" name="password" required>
    <button>登录</button>
    <p>没有账号？<a href="register.html">立即注册</a></p>
</form>
<script>
    // login.js

    // 获取表单元素和响应消息的元素
    var loginForm = document.getElementById("loginForm");

    // 添加表单提交事件监听器
    loginForm.addEventListener("submit", function(event) {
        event.preventDefault(); // 阻止默认表单提交行为

        // 获取用户名和密码
        var name = document.getElementById("user").value;
        var password = document.getElementById("password").value;

        // 创建一个FormData对象，用于将表单数据发送给后端
        var formData = new FormData();
        formData.append("user", name);
        formData.append("password", password);

        // 发送登录请求到后端
        fetch("http://127.0.0.1:8888/user/login", {
            method: "POST",
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                // 处理后端响应
                if (data.code === 200) {
                    window.location.href = "static/main.html";
                    // 在此处可以执行登录成功后的其他操作，如重定向到另一个页面
                } else {
                    //responseMessage.textContent = "登录失败：" + data.message;
                    alert(data.message);
                }
            })
    });

</script>
</body>
</html>